## Importing necessary modules/packages

In [2]:
import pandas as pd
from sklearn import linear_model
import numpy
import math

## Reading of dataset

In [3]:
df = pd.read_csv("hiring.csv")  #reading the dataset
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary(₹)
0         NaN                    8.0                           9      50000
1         NaN                    8.0                           6      45000
2         5.0                    6.0                           7      60000
3         2.0                   10.0                          10      65000
4         7.0                    9.0                           6      70000
5         3.0                    7.0                          10      62000
6        10.0                    NaN                           7      72000
7        11.0                    7.0                           8      80000

## Modifying the NaN values in dataset with 0

In [4]:
df.experience = df.experience.fillna(0)  #filling Oyears of experience fro NaN values in experience coloumn
df.experience

0     0.0
1     0.0
2     5.0
3     2.0
4     7.0
5     3.0
6    10.0
7    11.0
Name: experience, dtype: float64

## Taking median of test score

In [5]:
median_test_score = math.floor(df['test_score(out of 10)'].mean())  #taking a median of test score to later replace NaN
median_test_score

7

## Modifying the NaN values of test score with median of test score

In [6]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(median_test_score)  #filling the median_test_score in place of NaN in test_score(out of 10)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary(₹)
0         0.0                    8.0                           9      50000
1         0.0                    8.0                           6      45000
2         5.0                    6.0                           7      60000
3         2.0                   10.0                          10      65000
4         7.0                    9.0                           6      70000
5         3.0                    7.0                          10      62000
6        10.0                    7.0                           7      72000
7        11.0                    7.0                           8      80000

## Training and implementing LinearRegression() function

In [7]:
reg = linear_model.LinearRegression()  #implementing LinearRegression() model
reg.fit(df[['experience','test_score(out of 10)','interview_score(out of 10)']],df['salary(₹)'])  #training the machine with dataset where only salary is target objective

LinearRegression()

## Predicting / Test Case

In [12]:
reg.predict([[0,8,9]])  #predicting the monthly salary of employee based on exp,test score and interview score

array([52090.46734071])

## Checking the accuracy of machine

In [13]:
reg.score(df[['experience','test_score(out of 10)','interview_score(out of 10)']],df['salary(₹)'])  #checking the accuracy of machine

0.977013901427314